body {
  background-color: #f7f6ce;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "pt_sans_narrowregular", Helvetica, Arial, sans-serif;
}
section {
  flex: 1;
}
.wrapper {
  width: 100%;
 margin: 0 auto;
}
a{
  text-decoration: none;
}
/* centered */

.centeredLogo {
    font-size: 30px;
    color: #71972b;
/*     padding-top: 300px; */
    margin: 10px auto;
/*     background-image: url('http://placehold.it/300x300'); */
    background-position: top center;
    background-repeat: no-repeat;
}
.centeredLogo h1 {
  letter-spacing: -2px;
}
/* -----Login -------- */
.login {
  background-color: #d6de23;
   max-width: 840px;
  margin: 0 .5em;
  font-family: "DINMediumAlternate", Helvetica, Arial, sans-serif;
}
form{
	padding: 20px 0;
	position: relative;
	z-index: 2;
  color: #84b033;
  max-width: 840px;
}
input{
  display: block;
  appearance: none;
  outline: 0;
  border: 0;
  border-bottom: 4px solid #71972b; 
  background-color: #d6de23;
  width: 250px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: left;
  font-size: 18px;
/*  input color not working*/
  color: #84b033;
  transition-duration: 0.25s;
  font-weight: 300;
  box-shadow: none;
}
input:hover{
  background-color: fade(white, 40%);
}

input:focus{
  background-color: white;
  width: 300px;
}

::placeholder {
  color: #84b033;
}

::-moz-placeholder {
  color: #84b033;
}

:-ms-input-placeholder {
  color: #84b033;
}

::-webkit-input-placeholder {
  color: #84b033;
}
.gradient_green {
      margin: 0 .5em;
  border: .5px solid #acc56e;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#84b033+0,84b033+39,84b033+39,84b033+39,84b033+39,789f2e+39,789f2e+100 */
  background: #84b033; /* Old browsers */
  background: -moz-linear-gradient(top,  #84b033 0%, #84b033 39%, #84b033 39%, #84b033 39%, #84b033 39%, #789f2e 39%, #789f2e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #84b033 0%,#84b033 39%,#84b033 39%,#84b033 39%,#84b033 39%,#789f2e 39%,#789f2e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #84b033 0%,#84b033 39%,#84b033 39%,#84b033 39%,#84b033 39%,#789f2e 39%,#789f2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84b033', endColorstr='#789f2e',GradientType=0 ); /* IE6-9 */
}
.form .gradient_green {
  transition: .5s ease-out all;
}
.form .gradient_green:hover {
  background-color: #d6de23;
  cursor: pointer;
}
.form .gradient_green:active {
  background-color: #e19926;
  cursor: pointer;
}
.gradient_green h1 {
  color: #d6de23;
  text-transform: uppercase;
  font-family: "DINBold", Helvetica, Arial, sans-serif;
  font-size: 45px;
  padding: 0;
  margin: 0;
  letter-spacing: -3px;
}
/* IMAGE */
.centeredLogo picture img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
/*LOGIN RIBBON*/
.centeredLogo .menuRibbon {
  height: auto;
  bottom: 0;
}
.centeredLogo .menuRibbon:before {
  content: "";
  width: 4em;
  height: 70px;
  background-color: #d6de23;
  bottom: 1em;
  position: absolute;
  display: block;
  left: -2.9em;
}
.centeredLogo h1 {
  margin: 0 auto;
  padding: .5em;
}